body{
  padding: 0px;
  margin: 0px;
}
.App {
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}
.flex-gap{
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.grid-gap{
  display: grid;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.pdf-container {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto 20px;
  height: 600px;
  overflow: auto;
}

.my-react-pdf > .react-pdf__Page * {
  margin: 0 auto;
  width: 100%;
}
.container-comp {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  border-radius: 50%;
  cursor: pointer;
}