.App {
  font-family: sans-serif;
  text-align: center;
}

.pdf-container {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto 20px;
  height: 600px;
  overflow: auto;
}

.my-react-pdf > .react-pdf__Page * {
  margin: 0 auto;
}
.container-comp {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}