.App {
  font-family: sans-serif;
  text-align: center;
}

.pdf-container {
  max-width: 992px;
  width: 90%;
  margin: 20px auto 50px;
  height: 600px;
  overflow: scroll;
}

.my-react-pdf > .react-pdf__Page * {
  margin: 0 auto;
}
